nav{
    display: flex;
   justify-content: space-between;
   background-color: rgb(255, 255, 255);
    padding: 0 100px;
}
.logo{
    flex: 1;
}
.menus{
    flex: 3;
}
.menus ul{
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    align-items: flex-end;
    list-style-type: none;
}
.menus ul li a{
    text-decoration: none;
}
.menus ul li :hover{
    transform:scale(1.2) ;
    transition: (1.2);
    background-color: rgb(100, 68, 68);
}
.menus{
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  img{
    height: 10vh;
  }
  